@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.main {
  display: flex;
  flex-direction: row;
}


.side-menu-wrapper {
  display: flex;
  flex-direction: column;
}

.side-menu-nav {
  display: flex;
  flex-direction: column;
}

.photos-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 6px;
}

img {
  width: 100%;
  padding: 6px;
}

.grady2 {
  height: 100px;
}

/* @media only screen and (max-width: 770px) {
  .photos-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
} */